# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
venv/

# Environment variables
.env

# VSCode
.vscode/

# Mac/Linux
.DS_Store

# Windows
Thumbs.db
.env
venv/
.venv/
data/*.db
ascend-frontend/node_modules/
test user token.txt
data/*.sqlite3
frontend/node_modules/
